@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Sriracha&display=swap'); 

:root{
   --fonte1: verdana, geneva, tahoma, sans-serif;
   --fonte2:  'Bebas Neue', sans-serif;
   font-family: 'Passion One', sans-serif;
   font-family: 'Sriracha', cursive;
   --fonte3:  'Sriracha', cursive;
   
}

 *{
    margin: 0px;
    padding: 0px;
 }
 html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
 }
 header{
    background-color: black;
    color: white;
    text-align: center;
 }
 header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vh;
 }   
 header > p{
    padding-bottom: 50px;
 }
 a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
 }
 a:hover{
    text-decoration: underline;
 }
 section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vh;

 }
 section > p{
   padding-bottom: 2em;
 }
 section.normal{
    background-color: white;
    color: black;
 }
 section.imagem{
    background-color: rgba(105, 105, 105, 0);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.215);
    background-attachment: fixed;
    background-size: cover;
 }
 section.imagem > p{
    background-color: rgba(70, 67, 67, 0.163);
   display: inline-block;
   padding: 5px;
   text-shadow: 1px 1px 0px black;
 }
 section#img01{
      background-image: url(imagens/abu.jpg);
      background-position:  center;
      background-size: cover;
 }
 section#img02{
      background-image: url(imagens/xadodo.webp);
      background-size: cover;
      background-position: center;
      
 }
 footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
 }
 
 